{
  "root": true,
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "airbnb/hooks"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "@typescript-eslint/strict-boolean-expressions": [
      2,
      {
        "allowString": false,
        "allowNumber": false
      }
    ],
    "no-console": "error"
  },
  "ignorePatterns": ["src/**/*.test.ts", "src/frontend/generated/*"],
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"], //절대경로 설정
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
